.questions {
	width: 886px;
	margin: 82px auto 85px auto;

	&__title {
		font-weight: 800;
		font-size: 48px;
		line-height: 59px;
	}

	&__form {
		display: flex;
		justify-content: center;
		background-color: #F7F7F7;
		border-radius: 20px;
		padding: 45px 40px;
		margin-top: 15px;
		margin-bottom: 25px;
		height: 528px;

		&.selected {
			padding: 40px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	&-list {
		width: 806px;
	}
}

.results {
	margin: 80px auto;
	width: 886px;

	&__title {
		font-weight: 800;
		font-size: 48px;
		line-height: 59px;
	}

	&__description {
		margin-top: 20px;
		font-size: 24px;
		line-height: 140%;
		margin-bottom: 40px;

		&.good-result {
			margin-bottom: 47px;
			margin-top: 13px;
		}
	}

	&__button {
		display: block;
		font-size: 18px;
		font-weight: 700;
		padding: 16px 30px 16px 31px;
		color: #fff;
		background-color: #3300FF;
		border-radius: 10px;
		margin: 40px auto 0 auto;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&__item {
			width: 100%;
			padding: 40px;
			border-radius: 20px;

			&.good {
				background-color: #E5F5E1;
			}

			&.bad {
				background-color: #FFE0E0;
			}

			&-title {
				font-weight: 700;
				font-size: 20px;
			}

			&-description {
				margin-top: 15px;
				font-size: 16px;
				font-weight: 400;
				line-height: 140%;
			}
		}
	}
}